@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans" ;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}
/* header*/
header{
    background-color: white;
    font-family: sans-serif;
    color: #343a40;
    width: 100%;
    height: 130px;
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #343a40;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 75px;
    font-size: 22px;
}
.monflex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
}
.logo img {
    margin-left: 50px;
    width: 120px;
    margin-top: 10px;
}
/* page image*/
h1#galerie {
    text-align: center;
    background-color: rgb(244, 243, 243);
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    padding: 35px;
    border-bottom: 1px solid #e7e7e7;
}
.container {
    padding: 20px;
}
.galeriephoto {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.galeriephotoitem {
    width: calc(33% - 10px);
    height: 230px;
    margin-bottom: 15px;
    overflow: hidden;
}
.galeriephotoitem img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/*footer*/
footer {
    background-color: white;
    color: #333;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}
.social-media a {
    margin: 0 10px;
    display: inline-block;
}
.social-media img {
    width: 32px;
    height: 32px;
}
.footer-bottom {
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #e7e7e7;
}
.footer-bottom p {
    margin: 0;
}
